venv/
__pycache__/
*.pyc


# Environnement virtuel
venv/
.env/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Rapports générés
rapports/*.md

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers journaux
*.log

.idea/